$link_base_color: #1c62b9;
$card-padding: 10px;

$primary-background-color: #fff;
$pink-accent-color: #FFB7B8;

@mixin linear-gradient($angle, $start-color, $end-color, $args...) {
  @if $args {
    // Ultimate fallback: all other layers (IE < 10 uses this).
    background: $args;
    
    // Standard Webkit fallback
    background: -webkit-linear-gradient($angle, $start-color, $end-color), $args;
    // Opera
    background: -o-linear-gradient($angle, $start-color, $end-color), $args;
    // Firefox
    background: -moz-linear-gradient($angle, $start-color, $end-color), $args;
    // Standard
    background: linear-gradient($angle, $start-color, $end-color), $args;
  }
  @else {
    // Standard Webkit fallback
    background: -webkit-linear-gradient($angle, $start-color, $end-color);
    // Opera
    background: -o-linear-gradient($angle, $start-color, $end-color);
    // Firefox
    background: -moz-linear-gradient($angle, $start-color, $end-color);
    // Standard
    background: linear-gradient($angle, $start-color, $end-color);
  }
  // Internet Explorer < 10
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#{$start-color}', endColorStr='#{$end-color}', GradientType=0)";
}

// Body background
body {
    background: repeat url("/static/img/bg2.gif");
    margin: 0;
    padding: 0;
    font-size: 13px;
}

// Fonts
html {
    font-family: Arial, Helvetica, Meiryo, sans-serif;
}

code {
    font-family: 'Courier New', Courier, "MS ゴシック", monospace;
    color: #2e6442;
}

// General styles
a {
    text-decoration: none;
    color: $link_base_color;

    &:hover {
        text-decoration: underline;
    }
}

.hid {
    display: none;
}

.clearfix::after {
   content: "\00A0";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#main-content {
    margin-top: 10px;
}

.card {
    background: $primary-background-color;
    padding: $card-padding;
    border: 3px solid $pink-accent-color;
    border-radius: 3px;
    max-width: 750px;
    margin: 0 auto;
    box-shadow: -2px 4px 6px rgba(0, 0, 0, 0.25)
}

.content-snap-width-2 .card {
    max-width: 1200px;
}

.content-snap-width-3 .card {
    max-width: 1700px;
}

#nav {
    margin: 0 $card-padding;
    
    .nav-link-container {
        position: relative;
        margin-right: 5px;
    }

    a {
        position: absolute;
        text-align: center;
        width: 100%;
    }
    
    a.active {
        color: #111;
        font-weight: 700;
    }
    
    .measurement-base {
        font-weight: 700;
        text-align: center;
        visibility: hidden;
    }
}

#header {
    height: 100px;
    //background: linear-gradient(to right, #fff 300px, transparent), url("/static/img/hana.png");
    @include linear-gradient(90deg, #fff 300px, transparent, url("/static/img/hana.png"));
    //background-image: inherit, url("/static/img/hana.png");
    border-bottom: 1px solid #ecc;
    margin: -$card-padding;
    margin-bottom: $card-padding;
    padding: $card-padding 0;
    // border-top-left-radius: 3px;
    // border-top-right-radius: 3px;
    
    #nav {
        margin: calc($card-padding / 2) ($card-padding);
    }
    
    #logo {
        a {
            position: absolute;
            background: no-repeat url("/static/img/logo.png");
        }
        
        &, a {
            width: 406px;
            height: 78px;
        }
    }
}

#footer-container {
    border-top: 1px solid #ccc;
    margin-top: 6px;

    // Needs to be normalised with card padding:
    padding-top: $card-padding;
}

#footer {
    text-align: center;

    a {
        color: #666;

        &:hover {
            color: $link_base_color;
        }
    }
}

// Page-specific styles:
#index-content {
    // I was originally going to have the text smaller (like 16px), but this fell into the
    // size for "GDI legacy" rendering in Firefox, which affects Meiryo in my environment,
    // and there had to be a half-working hack to detect aliased fonts at runtime to fix
    // ugly Japanese font rendering. I just settled for making this font size larger, and
    // removing the hack.
    font-size: 20px;

    text-align: center;
    margin: 15px 0;
}

// MSD document header
#doc-header {
    .doc-date {
        font-style: italic;
        color: #666;

        b {
            color: #000;
        }
    }
}