$link_base_color: #1c62b9;
$card-padding: 10px;

// Body background
body {
    background: repeat url("/static/img/bg.png");
    margin: 0;
    padding: 0;
    font-size: 13px;
}

// Fonts
html {
    font-family: Arial, Helvetica, Meiryo, sans-serif;
}

a {
    text-decoration: none;
    color: $link_base_color;

    &:hover {
        text-decoration: underline;
    }
}

.card {
    background: #fff;
    padding: $card-padding;
    border-radius: 3px;
    max-width: 750px;
    margin: 0 auto;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.25);
}

#nav {
    margin: 16px auto;

    a {
        margin-right: 5px;
    }

    a.active {
        color: #111;
        font-weight: 700;
    }
}

#footer-container {
    border-top: 1px solid #ccc;
    margin-top: 6px;

    // Needs to be normalised with card padding:
    padding-top: $card-padding;
}

#footer {
    text-align: center;

    a {
        color: #666;

        &:hover {
            color: $link_base_color;
        }
    }
}

// Page-specific styles:
#index-content {
    // I was originally going to have the text smaller (like 16px), but this fell into the
    // size for "GDI legacy" rendering in Firefox, which affects Meiryo in my environment,
    // and there had to be a half-working hack to detect aliased fonts at runtime to fix
    // ugly Japanese font rendering. I just settled for making this font size larger, and
    // removing the hack.
    font-size: 20px;

    text-align: center;
    margin: 15px 0;
}

// MSD document header
#doc-header {
    .doc-date {
        font-style: italic;
        color: #666;

        b {
            color: #000;
        }
    }
}