<!DOCTYPE html>
<!-- shh the html is not written by hand :3 -->
<html lang="en">
    <head>
        {default $pageTitle = ""}
        {default $metadataTitle = $pageTitle . " - Isabella's website"}
        {default $metadataContent = "I didn't put a metadata description for this page :P"}
        <meta charset="UTF-8" />
        <meta property="og:title" content={$metadataTitle} />
        <meta property="og:description" content={$metadataContent} />
        {* This should be changed in the future, but I just needed an image to test it.
           No particular branding exists yet. *}
        <meta property="og:image" content="/static/img/cute.gif" />
        <title>{block pageTitleBlock}{$pageTitle} - kawapure{/block}</title>
        <link rel="prefetch" href="/static/css/base.css" />
        <link rel="prefetch" href="/static/img/bg.png" />
        <link rel="stylesheet" href="/static/css/base.css">
    </head>
    <body id="body" data-page-name={$pageName}>
        <div id="nav" class="card">
            {import "nav.latte"}
            {include navItem, "Home", "index", "/"}
            {include navItem, "About me", "about", "/about"}
            {include navItem, "Simple Mozilla Documentation", "msd", "/mozilla_simple_docs/"}
        </div>
        <div id="content-wrapper" class="card">
            <div id="content">
                {block content}
                {/block}
            </div>
            <div id="footer-container">
                <div id="footer">
                    <a href="/credits">
                        Site credits
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>